.drinks-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
    width: 80%;
    
   
    margin-top: 50px;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  
  .drinks-card-h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
  }

  .drinks-card-list li {
    margin-bottom: 4px;
    position: relative; /* Set position to relative */
    padding-left: 25px;
    
  }

  .drinks-card-list {
    list-style: none; /* Remove default list styles */
    margin: 0 auto;
    width: 100%;
   
}

.drinks-card-list li::before {
    content: '•'; /* Unicode bullet character */
    color: var(--secondary-color);
    position: absolute; /* Set position to absolute */
    left: 5px; /* Position it at the start of the list item */
}




  
@media (min-width: 768px) {
  .drinks-card{
      width: 25%;
  }

}