
.gallery{
    border: 1px solid black;
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #FFE5E5;


  }

  .image-list{

    margin-top: 70px;
    
  }
  .gallery h3{
  
    font-size: 40px;
    position: relative;
    color: var(--primary-color);
    
  
  
  
  }
  
  
  
  
    
   
  
  @media (min-width: 768px) {
  
      .gallery{
         
          padding-top: 90px;
          padding-bottom: 0px;
          border: 3px solid orange;
        
         
      }
  
  .image-list{

    margin-top: 70px;
    
  
  }
      
  
        .gallery h3{
  
            font-size: 60px;
          
  
          
        }

       
  
      }
       
  
  
  
  
     
      
      
        
       