.about-data{
    background-color: #FFE5E5;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;

}

.about-data-content{
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 50px 20px 20px 20px;
    
}

.about-data-content h2, h4{
    color: var(--primary-color);
    font-weight: bolder;
  
}

.about-data-content h4{
    margin-top: 50px;
}



.about-data-content p{
    color: var(--paragraph);
    margin-top: 20px;
}

.about-image-container{
    width: 90%;
    height: auto;
   
}

.about-image-sect{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-bottom: 20px;
    margin-top: 90px;
}

.about-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

@media (min-width: 767px) and (max-width: 1024px){
    .about-data-content{
        margin-top: 50px;
    }

    .about-image-container{
        width: 40%;
        height: 300px;
    }
    
  
    .about-image-sect{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 80px;

    }
}
  
@media (min-width: 1025px) {
    .about-data-content{
        margin-top: 50px;
    }

    .about-image-container{
        width: 20%;
        height: 300px;
    }
    
  
    .about-image-sect{
        display: flex;
        flex-direction: row;
        margin-top: 80px;

    }
  }